services:
  fusion_service:
    build:
      context: .
      dockerfile: docker/dev.Dockerfile
    image: battlefield-sim:fusion
    volumes:
      - ./logs:/workspace/shared
    command: bash -lc "mkdir -p /workspace/shared/logs && cd /workspace/build && ./services/fusion_service/fusion_service"
    ports:
      - "6000:6000"
      - "6005:6005"
    restart: on-failure
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  monitor_cli:
    image: battlefield-sim:fusion
    build:
      context: .
      dockerfile: docker/dev.Dockerfile

    command: bash -lc "cd /workspace/build && ./services/monitor_cli/monitor_cli fusion_service:6005"
    depends_on:
      - fusion_service
    restart: on-failure

  sensor_uav:
    image: battlefield-sim:fusion
    build:
      context: .
      dockerfile: docker/dev.Dockerfile
    volumes:
      - ./logs:/workspace/shared
    environment:
      - FUSION_ADDR=fusion_service:6000
      - SHARED_TRUTH_PATH=/workspace/shared/ground_truth.txt
      - UAV_START_LAT=39.920
      - UAV_START_LON=32.850
      - UAV_START_ALT=1500.0
      - UAV_START_HEADING=90.0
      - UAV_SPEED=120.0
    command: bash -lc "cd /workspace/build && ./services/sensor_uav/sensor_uav"
    depends_on:
      - fusion_service
    restart: on-failure

  sensor_radar_1:
    image: battlefield-sim:fusion
    build:
      context: .
      dockerfile: docker/dev.Dockerfile
    volumes:
      - ./logs:/workspace/shared
    environment:
      - FUSION_ADDR=fusion_service:6000
      - SHARED_TRUTH_PATH=/workspace/shared/ground_truth.txt
      - RADAR_ID=TPS-77-LONG-RANGE
      - RADAR_LAT=39.750
      - RADAR_LON=32.700
      - RADAR_RANGE_SIGMA=50.0     
      - RADAR_BEARING_SIGMA=1.5     
      - RADAR_RCS_ACTIVE=true
      - RADAR_SENSITIVITY=1e-20     # Very sensitive; can detect targets at long range
    command: bash -lc "cd /workspace/build && ./services/sensor_radar/sensor_radar"
    depends_on:
      - fusion_service
    restart: on-failure

  sensor_radar_2:
    image: battlefield-sim:fusion
    build:
      context: .
      dockerfile: docker/dev.Dockerfile
    volumes:
      - ./logs:/workspace/shared
    environment:
      - FUSION_ADDR=fusion_service:6000
      - SHARED_TRUTH_PATH=/workspace/shared/ground_truth.txt
      - RADAR_ID=STIR-PRECISION-TRACK
      - RADAR_LAT=39.940           
      - RADAR_LON=32.855
      - RADAR_RANGE_SIGMA=5.0       # Reasonably precise range measurement
      - RADAR_BEARING_SIGMA=0.1     # Incredibly precise bearing measurement
      - RADAR_RCS_ACTIVE=true
      - RADAR_SENSITIVITY=1e-13     # Less sensitive; can only detect larger targets at shorter range
    command: bash -lc "cd /workspace/build && ./services/sensor_radar/sensor_radar"
    depends_on:
      - fusion_service
    restart: on-failure